@media only screen and (max-width: 1060px) {

    /* SECTION LABEL */
    .section__label{
        justify-content: center;
    }
    .label__title{
        display: none;
    }


    /* FOOTER */

    .footer__brands-block > img{
        margin: 0 20px;
    
    }
    .footer__brands-title > hr{
        width: 100px;
    }
    .brands__title{
        font-size: 2.7rem;
    }

    /* FOOTER DOWN PART */

    .footer__block{
        width: 10rem;
    
        margin: 0 10px;
    }

    .footer__privacy{
        font-size: .8rem;
    }

}

@media only screen and (max-width: 880px) {

    /* MAIN COVER */

    .main__container{
        width: 60%;
        align-self: center;
    
        margin-top: 15%;

        text-align: center;
    }
    .main__text{
        margin: 10% auto;
    }

    .main__buttons{
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: center;  
    }

}

@media only screen and (max-width: 768px) {

    /* MAIN COVER */

    .main__container{
        margin-top: 25%;
        width: 80%;
    }
    .main__text{
        width: 90%;
    }

    

    /* SECTION LABEL */
    .section__label{
        justify-content: flex-start;
    }

    /* FOOTER */
    .footer__block-logo,
    .footer__block-newletter{
        display: none;
    }

    .footer__brands{
        background-color: blue;
        flex: 1;
    }

    .footer__container{
        flex: 1;
    }

    .footer__block{ 
        margin: -20px 50px 0 50px;
        align-self: center; 
    }
    .footer__privacy{
        flex: 0;
    }
}

@media only screen and (max-width: 600px) {

    /* SLIDER */
    

    /* SECTION LABEL */

    /* FOOTER */
    .footer__privacy{
        flex-direction: column;
    }

}

@media only screen and (max-width: 467px) {
    /* MAIN COVER */

    

    /* SLIDER */
    .slider__brands-title > hr{
        display: none;
    }

    /* SECTION LABEL */

    /* FOOTER */
    .footer__block{ 
        margin: 0 10px;

    }

}
